<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="main">
        {% if image %}
        <img src="{{image}}" alt="" width="450" height="450">
        <p>Осталось показов этого изображения: <b>{{ count }}</b></p>
        {% else %}
        <h5>Нет картинок для показа в этой категории</h5>
        {% endif %}
        <a rel="stylesheet" href="{% if query %}?{{ query|join('&')}}{% endif %}">Отобразить следующее изоражение</a>
    </div>
    <script>
    </script>
</body>
</html>